.messageSender {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
    max-width: 700px;
}

.messageSender__top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding-bottom: 15px;
    padding: 15px;
}

.messageSender__top > form {
    display: flex;
    flex: 1;
}

.messageSender__top > form > input {
    outline: 0;
    border: none;
    background-color: #eff2f5;
    margin: 0 10px;
    padding: 5px 20px;
    border-radius: 999px;
}

.messageSender__top > form > button {
    display: none;
    background-color: #2e81f4;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: medium;
    text-align: center;
    margin-top: 10px;
}

.messageSender__input {
    flex: 1;
}

.messageSender__bottom {
    display: flex;
    justify-content: space-evenly;
}

.messageSender__option {
    display: flex;
    padding: 10px;
    align-items: center;
    color: gray;
    margin: 5px;
    cursor: pointer;
}

.messageSender__option > h3 {
    font-size: medium;
    margin-left: 10px;
}

.messageSender__option:hover {
    background-color: #eff2f5;
    border-radius: 20px;
}

@media only screen and (max-width: 700px) {
    .messageSender__top {
        display: block;
        align-items: unset;
        justify-content: unset;
    }

    .messageSender__top > .MuiAvatar-root,
    .messageSender__top form {
        display: inline-block;
    }

    .messageSender__top > .MuiAvatar-root {
        float: left;
    }

    .messageSender__top form {
        width: 90%;
    }

    .messageSender__top > form > input {
        height: 40px;
    }

    .messageSender__top > form .messageSender__input {
        width: 250px;
    }

    .submit-btn {
        display: block;
        width: 100%;
        max-width: 150px;
        margin: 0 auto;
    }

    .messageSender__top > form > button {
        display: block;
    }

    .messageSender__bottom .messageSender__option > h3 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 633px) {
    .messageSender__top > form > .img-url {
        display: block;
        width: 100%;
        max-width: 250px;
        margin-top: 10px;
    }

    .messageSender__top > form {
        width: 70%;
    }
}

@media only screen and (max-width: 425px) {
    .messageSender__option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
