.app {
    background-color: #f1f2f5;
    min-height: 100vh;
}

.app__body {
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .feed {
        padding: 30px 40px;
    }

    .sidebar {
        display: none;
    }
}
